<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- THIS IS THE END OF THE HEADER TO USE -->

	<display-name>Example webapp with filter</display-name>
	
	<!-- This is the declaration of a servlet -->
	<servlet>
		<servlet-name>myServlet</servlet-name>
		<servlet-class>com.fdm.WebAppWithFilter.MyServlet</servlet-class>
	</servlet>
	
	<!-- This is the declaration of the url mapping to a servlet -->
	<servlet-mapping>
		<servlet-name>myServlet</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>myFilter</filter-name>
		<filter-class>com.fdm.WebAppWithFilter.MyFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>myFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
</web-app>
