<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletsExampleLive</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>admin_email</param-name>
    <param-value>tom@jerry.com</param-value>
  </context-param>
  <servlet>
    <servlet-name>MyFirstServlet</servlet-name>
    <servlet-class>com.fdmgroup.servlets.FirstServlet</servlet-class>
    <init-param>
      <param-name>special_number</param-name>
      <param-value>3.1415926 (this is a string!)</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MySecondServlet</servlet-name>
    <servlet-class>com.fdmgroup.servlets.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySecondServlet</servlet-name>
    <url-pattern>/more</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>com.fdmgroup.servlets.MyListener</listener-class>
  </listener>
</web-app>